.brand {
  border-radius: 5px;
  border: 1px solid #dde3e8;
  background-color: white;
  width: 48%;
  height: 70px;
  position: relative;
  cursor: pointer;

  .img {
    object-fit: contain;
  }
}

.isChoose {
  border: 1px solid #1e7376;
  background-color: #f3f5f7;
}
