.greenButton {
  color: white;
  background-color: #1e7376;
  font-size: 0.75em;
  padding: 12px 0px;
  border-radius: 5px;
  border: none;
  min-width: 80px;
}

.colorRevert {
  color: #1e7376;
  background-color: white;
}
