.tabs {
  display: flex;
  background-color: #eee;
  border-radius: 8px;
  padding: 5px;
  overflow-x: scroll;
  scrollbar-width: none;
  font-size: 0.8em;
  height: inherit;

  &::-webkit-scrollbar {
    display: none;
  }

  .tabItem {
    white-space: nowrap;
    padding: 5px 10px;
    cursor: pointer;
    color: #999;
    font-weight: 500;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    font-size: 0.75em;
  }

  .active {
    color: #1e7376;
    background-color: white;
    font-weight: 800;
  }
}
